input, label {
  display:block;
}
input {
  margin-bottom: 1rem;
}

table {
  width: 500px;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  border: 1px solid;
}

.menu {
  margin-bottom: 1rem;
}
.menu button {
  margin-right: 0.5rem;
}
