<div class="header">
</div>
<div>
  <label>Zadajte cislo:
    <input #Hodnota type="number" [value]="decimal" (input)="changeToBinary(Hodnota.value)" />
  </label>
  <input #CheckBox0
         id="0"
         type="checkbox"
         [checked]="poleBoolean[0]"
         (change)="Function(CheckBox0.checked, CheckBox0.id)" />
  <input #CheckBox1
         id="1"
         type="checkbox"
         [checked]="poleBoolean[1]"
         (change)="Function(CheckBox1.checked, CheckBox1.id)" />
  <input #CheckBox2
         id="2"
         type="checkbox"
         [checked]="poleBoolean[2]"
         (change)="Function(CheckBox2.checked, CheckBox2.id)" />
  <input #CheckBox3
         id="3"
         type="checkbox"
         [checked]="poleBoolean[3]"
         (change)="Function(CheckBox3.checked, CheckBox3.id)" />
  <input #CheckBox4
         id="4"
         type="checkbox"
         [checked]="poleBoolean[4]"
         (change)="Function(CheckBox4.checked, CheckBox4.id)" />
  <input #CheckBox5
         id="5"
         type="checkbox"
         [checked]="poleBoolean[5]"
         (change)="Function(CheckBox5.checked, CheckBox5.id)" />
  <input #CheckBox6
         id="6"
         type="checkbox"
         [checked]="poleBoolean[6]"
         (change)="Function(CheckBox6.checked, CheckBox6.id)" />
  <input #CheckBox7
         id="7"
         type="checkbox"
         [checked]="poleBoolean[7]"
         (change)="Function(CheckBox7.checked, CheckBox7.id)" />
</div>


