<div class="menu">
  <button (click)="changeMenu(menu.USERS)">POUŽÍVATELIA</button>
  <button (click)="changeMenu(menu.BOOKS)">KNIHY</button>
  <button (click)="changeMenu(menu.GENRE)">ŽÁNER</button>
  <button (click)="changeMenu(menu.BORROWINGS)">VÝPOŽIČKY</button>
</div>

<ng-container *ngIf="actualMenu === menu.USERS">

<form [formGroup]="form">
  <label>Meno:
    <input type="text" formControlName="name" />
  </label>
  <label>Priezvisko:
    <input type="text" formControlName="surname" />
  </label>
  <label>Kontakt:
    <input type="text" formControlName="contact" />
  </label>
  <button type="button"
          (click)="savePerson()">Uložiť</button>
</form>

<table *ngIf="persons.length">
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Kontakt</th>
  </tr>
  <tr *ngFor="let person of persons">
    <td>{{ person.name }}</td>
    <td>{{ person.surname }}</td>
    <td>{{ person.contact }}</td>
  </tr>
</table>
</ng-container>

<ng-container *ngIf="actualMenu === menu.BOOKS">

<form [formGroup]="form">
  <label>Meno:
    <input type="text" formControlName="name" />
  </label>
  <label>ID:
    <input type="text" formControlName="id" />
  </label>
  <label>Autor:
    <input type="text" formControlName="author" />
  </label>
  <label>Dostupne:
    <input type="text" formControlName="available" />
  </label>
  <button type="button"
          (click)="saveBook()">Uložiť</button>
</form>

<table *ngIf="books.length">
  <tr>
    <th>Meno</th>
    <th>ID</th>
    <th>Autor</th>
    <th>Dostupne</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{ book.name }}</td>
    <td>{{ book.id }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.available }}</td>
  </tr>
</table>
</ng-container>

<ng-container *ngIf="actualMenu === menu.GENRE">

  <form [formGroup]="form">
    <label>Meno:
      <input type="text" formControlName="name" />
    </label>
    <label>Žáner:
      <input type="text" formControlName="genre" />
    </label>
    <button type="button"
            (click)="saveGenre()">Uložiť</button>
  </form>

  <table *ngIf="genre.length">
    <tr>
      <th>Meno</th>
      <th>Žaner</th>
    </tr>
    <tr *ngFor="let genre of genre">
      <td>{{ genre.name }}</td>
      <td>{{ genre.genre }}</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="actualMenu === menu.BORROWINGS">

  <form [formGroup]="form">
    <label>ID:
      <input type="text" formControlName="id" />
    </label>
    <label>Kniha:
      <input type="text" formControlName="book" />
    </label>
    <label>Používateľ:
      <input type="text" formControlName="user" />
    </label>
    <button type="button"
            (click)="saveBorrowing()">Uložiť</button>
  </form>

  <table *ngIf="borrowings.length">
    <tr>
      <th>ID</th>
      <th>Kniha</th>
      <th>Používateľ</th>
    </tr>
    <tr *ngFor="let borrowing of borrowings">
      <td>{{ borrowing.id }}</td>
      <td>{{ borrowing.book }}</td>
      <td>{{ borrowing.user }}</td>
    </tr>
  </table>
</ng-container>


